# Dependencies
node_modules
jspm_packages

# Webpack
.webpack
.esbuild

# Output
dist

# Dotenv files

.env
.env*.local

# Local folder
local

# testing
coverage

# Misc
.DS_Store
*.pem
Thumbs.db

# Error logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*